body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
button{
  background-color: transparent;
  border-radius: 0;
  border: none;
  user-select: none;
  text-align: start;
}
/* product-categories */

.product-categories_item-col_2 img{
  transition: 0.3s;
}
.product-categories_item-col_2{
  transition: 0.3s;
}
.product-categories_item-col_1{
  transition: 0.3s;
}
.product-categories_item{
  transition: 0.3s;
}
.product-categories_item:hover .product-categories_item-col_1{
  background-color: transparent;
  transition: 0.3s;
}
.product-categories_item:hover .product-categories_item-col_1{
  background-color: #1666DD;
  transition: 0.3s;
}
.product-categories_item:hover .product-categories_item-col_2{
  background-color: #1666DD;
  transition: 0.3s;
}
.product-categories_item:hover .product-categories_item-col_2 img{
  margin-top: -15px;
  transition: 0.3s;
}

@media (max-width:1024px) {
  .product-categories_item:hover .product-categories_item-col_1{
    background-color: transparent;
    transition: 0.3s;
  }
  .product-categories_item:hover .product-categories_item-col_1{
    background-color: transparent;
    transition: 0.3s;
  }
  .product-categories_item:hover .product-categories_item-col_2{
    background-color: #1666DD;
    transition: 0.3s;
  }
  .product-categories_item:hover .product-categories_item-col_2 img{
    margin-top: 0px;
    transition: 0.3s;
  }
}
/* end product-categories */

.preview_news{
  background-image: url(../img/img-news-item.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* photo-upper-banner */
.photo-upper-banner{
  background-image: url(../img/photo-for-upper-banner.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center -30px;
}
@media (max-width:480px) {
  .photo-upper-banner{
    background-image: url(../img/photo-for-upper-banner.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center -10px;
  }
}
/* end photo-upper-banner */